USE [TIGER3ENTERPRISE]
GO
/****** Object:  Table [dbo].[L_POSTCODE]    Script Date: 9.08.2021 11:47:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[L_POSTCODE](
	[LOGICALREF] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY] [int] NULL,
	[CITY] [int] NULL,
	[POSTCODE] [varchar](21) NULL,
	[SITEID] [smallint] NULL,
	[RECSTATUS] [smallint] NULL,
	[ORGLOGICREF] [int] NULL,
 CONSTRAINT [POSTCODE_I1] PRIMARY KEY CLUSTERED 
(
	[LOGICALREF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[L_POSTCODE] ON 

INSERT [dbo].[L_POSTCODE] ([LOGICALREF], [COUNTRY], [CITY], [POSTCODE], [SITEID], [RECSTATUS], [ORGLOGICREF]) VALUES (1, 179, 1, N'01720', 0, 0, 0)
INSERT [dbo].[L_POSTCODE] ([LOGICALREF], [COUNTRY], [CITY], [POSTCODE], [SITEID], [RECSTATUS], [ORGLOGICREF]) VALUES (5, 179, 1, N'01722', 0, 0, 0)
INSERT [dbo].[L_POSTCODE] ([LOGICALREF], [COUNTRY], [CITY], [POSTCODE], [SITEID], [RECSTATUS], [ORGLOGICREF]) VALUES (32, 179, 1, N'01922', 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[L_POSTCODE] OFF
